# Core functionality - changes here should be rare!
/src/app.py                   @alexsuglio
/src/backend/database.py      @alexsuglio
/src/backend/routers/auth.py  @alexsuglio

# The frontend will need refactored soon to be more object oriented.
/src/static/   @alexsuglio
